<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Developers-Alliance team
 * @copyright Copyright (c) 2024 Developers-alliance (https://www.developers-alliance.com)
 * @package Wholesale Order Grid for Magento 2
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Devall\Wholesale\Api\CartItemsRepositoryInterface" type="Devall\Wholesale\Model\CartItemsRepository"/>
</config>
